Repository ag2ai/faststream, pull requests merged in 2023-09, with the labels that each got.

#573 504 authentication support for faststream
  .faststream_gen/api/faststream/broker/security/BaseSecurity.md
  .faststream_gen/api/faststream/broker/security/SASLPlaintext.md
  .faststream_gen/api/faststream/broker/security/SASLScram256.md
  .faststream_gen/api/faststream/broker/security/SASLScram512.md
  .faststream_gen/api/faststream/kafka/security/parse_security.md
  .faststream_gen/api/faststream/rabbit/security/parse_security.md
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/security/BaseSecurity.md
  docs/docs/en/api/faststream/broker/security/SASLPlaintext.md
  docs/docs/en/api/faststream/broker/security/SASLScram256.md
  docs/docs/en/api/faststream/broker/security/SASLScram512.md
  docs/docs/en/api/faststream/kafka/security/parse_security.md
  docs/docs/en/api/faststream/rabbit/security/parse_security.md
  docs/docs_src/kafka/basic_security/__init__.py
  docs/docs_src/kafka/basic_security/app.py
  docs/docs_src/kafka/plaintext_security/__init__.py
  docs/docs_src/kafka/plaintext_security/app.py
  docs/docs_src/kafka/sasl_scram256_security/__init__.py
  docs/docs_src/kafka/sasl_scram256_security/app.py
  docs/docs_src/kafka/sasl_scram512_security/__init__.py
  docs/docs_src/kafka/sasl_scram512_security/app.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/main.py
  faststream/asyncapi/schema/servers.py
  faststream/broker/core/abc.py
  faststream/broker/security.py
  faststream/kafka/broker.py
  faststream/kafka/broker.pyi
  faststream/kafka/fastapi.pyi
  faststream/kafka/security.py
  faststream/kafka/shared/schemas.py
  faststream/rabbit/broker.py
  faststream/rabbit/security.py
  tests/asyncapi/kafka/test_security.py
  tests/brokers/kafka/test_security.py
Labels: enhancement

#608 docs: fill routers page
  .faststream_gen/getting-started/dependencies/global.md
  .faststream_gen/getting-started/dependencies/testing.md
  .faststream_gen/getting-started/publishing/broker.md
  .faststream_gen/getting-started/publishing/decorator.md
  .faststream_gen/getting-started/publishing/direct.md
  .faststream_gen/getting-started/publishing/index.md
  .faststream_gen/getting-started/publishing/object.md
  .faststream_gen/getting-started/publishing/test.md
  .faststream_gen/getting-started/routers/index.md
  .faststream_gen/getting-started/subscription/annotation.md
  .faststream_gen/getting-started/subscription/filtering.md
  .faststream_gen/getting-started/subscription/pydantic.md
  .faststream_gen/getting-started/subscription/test.md
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/dependencies/global.md
  docs/docs/en/getting-started/dependencies/testing.md
  docs/docs/en/getting-started/publishing/index.md
  docs/docs/en/getting-started/routers/index.md
  docs/docs/summary_template.txt
  docs/docs_src/getting_started/routers/router_kafka.py
  docs/docs_src/getting_started/routers/router_rabbit.py
  docs/includes/getting_started/integrations/fastapi/1.md
  docs/includes/getting_started/integrations/fastapi/2.md
  docs/includes/getting_started/integrations/fastapi/3.md
  docs/includes/getting_started/integrations/fastapi/4.md
  docs/includes/getting_started/integrations/fastapi/5.md
  docs/includes/getting_started/integrations/fastapi/6.md
  docs/includes/getting_started/publishing/broker/1.md
  docs/includes/getting_started/publishing/decorator/1.md
  docs/includes/getting_started/publishing/direct/1.md
  docs/includes/getting_started/publishing/object/1.md
  docs/includes/getting_started/publishing/testing/1.md
  docs/includes/getting_started/publishing/testing/2.md
  docs/includes/getting_started/publishing/testing/3.md
  docs/includes/getting_started/routers/1.md
  docs/includes/getting_started/routers/2.md
  docs/includes/getting_started/subscription/annotation/1.md
  docs/includes/getting_started/subscription/filtering/1.md
  docs/includes/getting_started/subscription/pydantic/1.md
  docs/includes/getting_started/subscription/pydantic/2.md
  docs/includes/getting_started/subscription/testing/1.md
  docs/includes/getting_started/subscription/testing/2.md
  examples/serialization/__init__.py
  examples/serialization/msgpack/__init__.py
  examples/serialization/msgpack/pack.py
  examples/serialization/msgpack/requirements.txt
  examples/serialization/protobuf/__init__.py
  examples/serialization/protobuf/message.proto
  examples/serialization/protobuf/protobuf.py
  examples/serialization/protobuf/requirements.txt
  faststream/broker/core/asyncronous.py
  faststream/cli/main.py
Labels: documentation

#635 docs: fill CLI, Context
  .faststream_gen/getting-started/asyncapi/hosting.md
  .faststream_gen/getting-started/cli/index.md
  .faststream_gen/getting-started/context/extra.md
  .faststream_gen/getting-started/context/index.md
  .faststream_gen/getting-started/contributing/CONTRIBUTING.md
  .faststream_gen/getting-started/integrations/fastapi/index.md
  .faststream_gen/getting-started/lifespan/hooks.md
  .faststream_gen/getting-started/middlewares/index.md
  .faststream_gen/getting-started/routers/index.md
  .faststream_gen/getting-started/serialization/examples.md
  .faststream_gen/index.md
  .faststream_gen/kafka/message.md
  .faststream_gen/rabbit/ack.md
  .faststream_gen/rabbit/examples/index.md
  .faststream_gen/rabbit/message.md
  .faststream_gen/rabbit/publishing.md
  .faststream_gen/rabbit/rpc.md
  CONTRIBUTING.md
  README.md
  docs/docs/SUMMARY.md
  docs/docs/en/contact.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/getting-started/cli/index.md
  docs/docs/en/getting-started/context/extra.md
  docs/docs/en/getting-started/context/index.md
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs/en/getting-started/integrations/index.md
  docs/docs/en/getting-started/lifespan/hooks.md
  docs/docs/en/getting-started/middlewares/index.md
  docs/docs/en/getting-started/routers/index.md
  docs/docs/en/getting-started/serialization/examples.md
  docs/docs/en/index.md
  docs/docs/en/kafka/message.md
  docs/docs/en/rabbit/ack.md
  docs/docs/en/rabbit/examples/index.md
  docs/docs/en/rabbit/message.md
  docs/docs/en/rabbit/publishing.md
  docs/docs/en/rabbit/rpc.md
  docs/docs/summary_template.txt
  docs/docs_src/getting_started/cli/kafka_context.py
  docs/docs_src/getting_started/cli/rabbit_context.py
  docs/docs_src/getting_started/context/cast_kafka.py
  docs/docs_src/getting_started/context/cast_rabbit.py
  docs/docs_src/getting_started/context/default_arguments_kafka.py
  docs/docs_src/getting_started/context/default_arguments_rabbit.py
  docs/includes/getting_started/cli/env.md
  docs/includes/getting_started/context/cast.md
  docs/includes/getting_started/context/default.md
  docs/includes/getting_started/context/not_cast.md
  docs/mkdocs.yml
  faststream_gen_examples/example_add_and_publish_with_key/description.txt
  faststream_gen_examples/example_add_and_publish_with_key2/description.txt
  faststream_gen_examples/example_consume_publish_with_key/description.txt
  faststream_gen_examples/example_publish_with_key/description.txt
Labels: documentation

#637 Add google analytics
  docs/mkdocs.yml
Labels: documentation

#655 docs: fill some subsribers pages
  .faststream_gen/getting-started/cli/index.md
  .faststream_gen/getting-started/context/index.md
  .faststream_gen/getting-started/publishing/index.md
  .faststream_gen/getting-started/serialization/examples.md
  .faststream_gen/getting-started/subscription/annotation.md
  .faststream_gen/getting-started/subscription/filtering.md
  .faststream_gen/getting-started/subscription/index.md
  .faststream_gen/getting-started/subscription/pydantic.md
  .faststream_gen/getting-started/subscription/test.md
  .faststream_gen/index.md
  README.md
  docs/docs/en/getting-started/cli/index.md
  docs/docs/en/getting-started/context/index.md
  docs/docs/en/getting-started/publishing/index.md
  docs/docs/en/getting-started/serialization/examples.md
  docs/docs/en/getting-started/subscription/annotation.md
  docs/docs/en/getting-started/subscription/filtering.md
  docs/docs/en/getting-started/subscription/index.md
  docs/docs/en/getting-started/subscription/pydantic.md
  docs/docs/en/getting-started/subscription/test.md
  docs/docs/en/index.md
  docs/docs_src/getting_started/dependencies/basic_kafka.py
  docs/docs_src/getting_started/dependencies/class_kafka.py
  docs/docs_src/getting_started/dependencies/global_broker_kafka.py
  docs/docs_src/getting_started/dependencies/global_kafka.py
  docs/docs_src/getting_started/dependencies/sub_dep_kafka.py
  docs/docs_src/getting_started/routers/router_delay_kafka.py
  docs/docs_src/getting_started/routers/router_delay_rabbit.py
  docs/docs_src/getting_started/routers/router_kafka.py
  docs/docs_src/getting_started/routers/router_rabbit.py
  docs/docs_src/getting_started/serialization/msgpack_ex.py
  docs/docs_src/getting_started/serialization/protobuf.py
  docs/docs_src/getting_started/subscription/annotation_kafka.py
  docs/docs_src/getting_started/subscription/annotation_rabbit.py
  docs/docs_src/getting_started/subscription/filter_kafka.py
  docs/docs_src/getting_started/subscription/filter_rabbit.py
  docs/docs_src/getting_started/subscription/pydantic_fields_kafka.py
  docs/docs_src/getting_started/subscription/pydantic_fields_rabbit.py
  docs/docs_src/getting_started/subscription/pydantic_model_kafka.py
  docs/docs_src/getting_started/subscription/pydantic_model_rabbit.py
  docs/docs_src/getting_started/subscription/testing_kafka.py
  docs/docs_src/getting_started/subscription/testing_rabbit.py
  docs/includes/getting_started/subscription/annotation/1.md
  docs/includes/getting_started/subscription/annotation/2.md
  docs/includes/getting_started/subscription/annotation/3.md
  docs/includes/getting_started/subscription/filtering/1.md
  docs/includes/getting_started/subscription/filtering/2.md
  docs/includes/getting_started/subscription/filtering/3.md
  docs/includes/getting_started/subscription/index/1.md
  docs/includes/getting_started/subscription/index/2.md
  docs/includes/getting_started/subscription/index/3.md
  docs/includes/getting_started/subscription/index/4.md
  docs/includes/getting_started/subscription/pydantic/1.md
  docs/includes/getting_started/subscription/pydantic/2.md
  docs/includes/getting_started/subscription/testing/1.md
  faststream/__about__.py
Labels: documentation

#657 docs: index draft
  .faststream_gen/index.md
  README.md
  docs/docs/SUMMARY.md
  docs/docs/en/features.md
  docs/docs/en/index.md
  docs/docs/summary_template.txt
  docs/docs_src/index/basic_kafka.py
  docs/docs_src/index/basic_rabbit.py
  docs/docs_src/index/dependencies.py
  docs/docs_src/index/pydantic_kafka.py
  docs/docs_src/index/pydantic_rabbit.py
  docs/docs_src/index/test_kafka.py
  docs/docs_src/index/test_rabbit.py
  docs/includes/index/integrations.md
  docs/mkdocs.yml
Labels: documentation

#661 docs: fix GH README
  README.md
  docs/docs/en/features.md
  docs/docs_src/index/test_kafka.py
  docs/docs_src/index/test_rabbit.py
Labels: documentation

#665 Fix summary
  docs/docs/summary_template.txt
Labels: documentation

#666 Fix gen
  .faststream_gen/kafka/Publisher/batch_publisher.md
  .faststream_gen/kafka/Publisher/using_a_key.md
  .faststream_gen/kafka/Subscriber/index.md
  .faststream_gen/kafka/message.md
Labels: documentation

#691 fix: correct rmq delayed handler router registration
  README.md
  faststream/__about__.py
  faststream/rabbit/shared/router.py
  tests/brokers/rabbit/test_router.py
Labels: bug

#700 fix: correct StreamRouter broker annotation
  .secrets.baseline
  faststream/__about__.py
  faststream/kafka/fastapi.pyi
  faststream/rabbit/fastapi.pyi
Labels: bug

#706 Fix broken links in README file
  README.md
Labels: bug, documentation

#717 docs: fix styles
  .github/workflows/publish_pypi.yml
  README.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/index.md
Labels: documentation

#738 Pydantiv2.4.0 compat
  faststream/__about__.py
  faststream/_compat.py
  faststream/asyncapi/schema/info.py
  faststream/asyncapi/schema/message.py
Labels: bug

#739 fix: add url option to _connection_args
  faststream/__about__.py
  faststream/broker/core/abc.py
Labels: bug

#744 docs: add docs mention
  README.md
  docs/README.md
Labels: documentation

#751 fix: raise inner exceptions in `with_real` tests
  docs/docs/en/getting-started/subscription/test.md
  faststream/broker/core/abc.py
  faststream/broker/core/asyncronous.py
  faststream/broker/handler.py
  faststream/broker/middlewares.py
  faststream/broker/test.py
  faststream/broker/wrapper.py
  faststream/kafka/broker.py
  faststream/kafka/handler.py
  faststream/kafka/test.py
  faststream/rabbit/broker.py
  faststream/rabbit/handler.py
  faststream/rabbit/test.py
  pyproject.toml
  tests/cli/test_app.py
  tests/docs/getting_started/subscription/test_real.py
Labels: bug

#754 fix: Connection broker with url
  faststream/__about__.py
  faststream/broker/core/abc.py
Labels: bug

#755 fix: correct AsyncAPI oneOf schema
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Labels: bug
