Repository ag2ai/faststream, pull requests merged in 2023-05, with the labels that each got.

#268 Improve testimonials section UI
  docusaurus/src/components/HomepageCommunity/index.js
  docusaurus/src/components/HomepageCommunity/styles.module.css
  docusaurus/static/img/I.svg
  docusaurus/static/img/Y_Combinator_Logo.png
  docusaurus/static/img/reddit-logo.png
Labels: documentation

#280 Batch testing fix
  fastkafka/_application/tester.py
  fastkafka/_components/asyncapi.py
  fastkafka/_modidx.py
  fastkafka/_testing/in_memory_broker.py
  nbs/001_InMemoryBroker.ipynb
  nbs/013_ProducerDecorator.ipynb
  nbs/014_AsyncAPI.ipynb
  nbs/016_Tester.ipynb
Labels: bug

#283 Timestamps added to CLI commands
  .pre-commit-config.yaml
  fastkafka/_application/app.py
  fastkafka/_cli.py
  fastkafka/_components/docs_dependencies.py
  fastkafka/_components/test_dependencies.py
  fastkafka/_server.py
  nbs/015_FastKafka.ipynb
  nbs/021_FastKafkaServer.ipynb
  nbs/023_CLI.ipynb
  nbs/097_Docs_Dependencies.ipynb
  nbs/098_Test_Dependencies.ipynb
  setup.py
Labels: enhancement

#286 261 add good first issue label on issues and mention it in contributingmd
  CONTRIBUTING.md
Labels: documentation

#297 Implement new design changes to fastkafka docs
  docusaurus/docusaurus.config.js
  docusaurus/src/components/BrowserWindow/styles.module.css
  docusaurus/src/components/HomepageCommunity/styles.module.css
  docusaurus/src/components/HomepageFAQ/styles.module.css
  docusaurus/src/components/HomepageFastkafkaChat/index.js
  docusaurus/src/components/HomepageFastkafkaChat/styles.module.css
  docusaurus/src/components/HomepageFeatures/index.js
  docusaurus/src/components/HomepageFeatures/styles.module.css
  docusaurus/src/components/HomepageWhatYouGet/styles.module.css
  docusaurus/src/components/RobotFooterIcon/index.js
  docusaurus/src/components/RobotFooterIcon/styles.module.css
  docusaurus/src/css/custom.css
  docusaurus/src/pages/index.js
  docusaurus/src/pages/index.module.css
  docusaurus/static/img/hierarchy-order-svgrepo-com.svg
  docusaurus/static/img/icon-discord.svg
  docusaurus/static/img/icon-facebook.svg
  docusaurus/static/img/icon-github.svg
  docusaurus/static/img/icon-linkedin.svg
  docusaurus/static/img/icon-twitter.svg
  docusaurus/static/img/programming-monitor-svgrepo-com.svg
  docusaurus/static/img/prototype.svg
  docusaurus/static/img/robot-footer.svg
  docusaurus/static/img/robot-hero.svg
  docusaurus/static/img/rocket-svgrepo-com.svg
  docusaurus/static/img/streamline.svg
  docusaurus/static/img/write.svg
Labels: documentation

#304 142 integrate into fastapi
  docusaurus/sidebars.js
  fastkafka/_application/app.py
  fastkafka/_modidx.py
  nbs/015_FastKafka.ipynb
  nbs/guides/.gitignore
  nbs/guides/Guide_32_Using_fastapi_to_run_fastkafka_application.ipynb
  nbs/sidebar.yml
  setup.py
Labels: enhancement

#311 Cleanup index.ipynb
  nbs/images/screenshot-kafka-consumer.png
  nbs/images/screenshot-kafka-messages.png
  nbs/images/screenshot-kafka-producer.png
  nbs/images/screenshot-kafka-servers.png
  nbs/index.ipynb
Labels: documentation

#314 Add load more testimonial button in docs
  docusaurus/src/components/HomepageCommunity/index.js
  docusaurus/src/components/HomepageCommunity/styles.module.css
  docusaurus/src/components/HomepageFAQ/styles.module.css
  docusaurus/src/components/HomepageFastkafkaChat/styles.module.css
  docusaurus/src/components/HomepageFeatures/styles.module.css
  docusaurus/src/components/HomepageWhatYouGet/styles.module.css
  docusaurus/src/css/custom.css
  docusaurus/src/pages/index.module.css
  docusaurus/static/img/a-alphabet-round-icon.png
  docusaurus/static/img/p-alphabet-round-icon.png
  docusaurus/static/img/twitter-logo.svg
Labels: documentation

#327 Add search functionality in docs
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
Labels: documentation

#338 Provide optional description argument to consumes and produces decorator
  fastkafka/_application/app.py
  fastkafka/_components/asyncapi.py
  nbs/014_AsyncAPI.ipynb
  nbs/015_FastKafka.ipynb
Labels: enhancement

#336 Write a guide for multiple broker configurations
  docusaurus/sidebars.js
  fastkafka/_application/tester.py
  nbs/016_Tester.ipynb
  nbs/guides/Guide_24_Using_Multiple_Kafka_Clusters.ipynb
  nbs/sidebar.yml
Labels: documentation
