Repository ag2ai/faststream, pull requests merged in 2023-10, with the labels that each got.

#788 docs: README NATS mention
  .faststream_gen/getting-started/contributing/CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
Labels: documentation

#798 Conditional import of uvloop for Python versions less than 3.12
  faststream/__about__.py
  pyproject.toml
Labels: dependencies

#813 fix: disable test features with TestClient
  docs/docs_src/getting_started/subscription/real_testing_kafka.py
  docs/docs_src/getting_started/subscription/real_testing_nats.py
  docs/docs_src/getting_started/subscription/real_testing_rabbit.py
  docs/docs_src/getting_started/subscription/testing_kafka.py
  docs/docs_src/getting_started/subscription/testing_nats.py
  docs/docs_src/getting_started/subscription/testing_rabbit.py
  examples/kafka/batch_consume.py
  faststream/broker/publisher.py
  faststream/broker/test.py
  faststream/broker/wrapper.py
  tests/brokers/base/consume.py
  tests/brokers/base/parser.py
  tests/brokers/base/router.py
  tests/brokers/base/rpc.py
  tests/brokers/nats/test_consume.py
  tests/brokers/rabbit/core/test_call_manual.py
  tests/conftest.py
  tests/docs/getting_started/publishing/test_broker_context.py
  tests/docs/kafka/ack/test_errors.py
  tests/docs/rabbit/ack/test_errors.py
  tests/docs/rabbit/subscription/test_fanout.py
  tests/docs/rabbit/subscription/test_stream.py
  tests/examples/kafka/test_batch_consume.py
  tests/examples/kafka/test_batch_publish_1.py
  tests/examples/kafka/test_batch_publish_2.py
  tests/examples/kafka/test_batch_publish_3.py
  tests/examples/router/test_basic_consume.py
  tests/examples/router/test_basic_publish.py
  tests/examples/router/test_delay_registration.py
  tests/examples/test_e01_basic_consume.py
  tests/examples/test_e02_1_basic_publisher.py
  tests/examples/test_e02_2_basic_publisher.py
  tests/examples/test_e02_3_basic_publisher.py
  tests/examples/test_e03_miltiple_pubsub.py
  tests/examples/test_e04_msg_filter.py
  tests/examples/test_e05_rpc_request.py
  tests/examples/test_e06_manual_ack.py
  tests/examples/test_e07_ack_immediately.py
  tests/examples/test_e10_middlewares.py
  tests/examples/test_e11_settings.py
Labels: bug

#818 Remove duplicate OG tags
  docs/mkdocs.yml
Labels: bug

#825 chore: split real broker tests to independant runs
  .github/workflows/test.yaml
Labels: wontfix

#866 docs: add some Django integration details
  docs/docs/SUMMARY.md
  docs/docs/en/getting-started/integrations/django/index.md
  docs/docs/summary_template.txt
Labels: documentation

#869 fix (#868): remove pydantic defs in AsyncAPI schema
  faststream/__about__.py
  faststream/asyncapi/generate.py
  pyproject.toml
  tests/asyncapi/base/arguments.py
Labels: bug

#873 fix: remove jsonref dependency
  faststream/__about__.py
  faststream/asyncapi/generate.py
  pyproject.toml
  tests/asyncapi/base/arguments.py
Labels: bug

#879 feat: better RMQ AsyncAPI
  faststream/__about__.py
  faststream/_compat.py
  faststream/asyncapi/generate.py
  faststream/asyncapi/schema/bindings/amqp.py
  faststream/asyncapi/schema/info.py
  faststream/rabbit/asyncapi.py
  faststream/rabbit/broker.py
  faststream/rabbit/handler.py
  faststream/rabbit/parser.py
  faststream/rabbit/publisher.py
  faststream/rabbit/publisher.pyi
  faststream/rabbit/router.py
  faststream/rabbit/shared/publisher.py
  faststream/rabbit/shared/schemas.py
  faststream/rabbit/test.py
  tests/asyncapi/rabbit/test_publisher.py
  tests/asyncapi/rabbit/test_router.py
Labels: enhancement

#893 fix (#892): use normalized subjects in NATS streams
  faststream/__about__.py
  faststream/nats/broker.py
Labels: bug
