Repository ag2ai/faststream, pull requests merged in 2023-11, with the labels that each got.

#903 feat: add `asyncapi_url` broker arg
  .gitignore
  .secrets.baseline
  README.md
  docs/docs/en/api/faststream/rabbit/shared/utils/build_url.md
  docs/docs/en/api/faststream/rabbit/shared/utils/removeprefix.md
  docs/docs/en/api/faststream/security/BaseSecurity.md
  docs/docs/en/api/faststream/security/SASLPlaintext.md
  docs/docs/en/api/faststream/security/SASLScram256.md
  docs/docs/en/api/faststream/security/SASLScram512.md
  docs/docs_src/kafka/basic_security/app.py
  docs/docs_src/kafka/plaintext_security/app.py
  docs/docs_src/kafka/sasl_scram256_security/app.py
  docs/docs_src/kafka/sasl_scram512_security/app.py
  docs/docs_src/kafka/security_without_ssl/example.py
  faststream/__about__.py
  faststream/broker/core/abc.py
  faststream/broker/security.py
  faststream/kafka/broker.py
  faststream/kafka/broker.pyi
  faststream/kafka/fastapi.pyi
  faststream/kafka/security.py
  faststream/nats/broker.pyi
  faststream/nats/fastapi.pyi
  faststream/rabbit/asyncapi.py
  faststream/rabbit/broker.py
  faststream/rabbit/broker.pyi
  faststream/rabbit/fastapi.pyi
  faststream/rabbit/security.py
  faststream/rabbit/shared/utils.py
  faststream/security.py
  tests/asyncapi/kafka/test_connection.py
  tests/asyncapi/kafka/test_security.py
  tests/asyncapi/nats/test_connection.py
  tests/asyncapi/rabbit/test_connection.py
  tests/asyncapi/rabbit/test_security.py
Labels: enhancement

#908 docs: detail 0.2.10 release note
  docs/docs/en/release.md
Labels: documentation

#911 fix (#910): correct pydantic enum refs resolving
  .asyncapi-tool
  .secrets.baseline
  faststream/__about__.py
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Labels: bug

#938 docs: add Scheduling page
  docs/docs/SUMMARY.md
  docs/docs/en/scheduling.md
  docs/docs/summary_template.txt
  docs/includes/scheduling/app.md
  docs/includes/scheduling/taskiq_broker.md
Labels: documentation

#942 docs: change styles
  docs/docs/en/getting-started/asyncapi/custom.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/getting-started/cli/index.md
  docs/docs/en/getting-started/index.md
  docs/docs/en/index.md
Labels: documentation

#952 docs: reduce builded docs size
  .secrets.baseline
  docs/docs/en/release.md
  docs/mkdocs.yml
  pyproject.toml
Labels: documentation

#963 Add back deleted index file for API Reference
  docs/docs/en/api/faststream/index.md
Labels: documentation

#966 docs: update readme docs link
  .github/workflows/deploy-docs.yaml
  README.md
  docs/README.md
  docs/docs/en/index.md
  docs/docs/en/release.md
  docs/mkdocs.yml
  pyproject.toml
Labels: documentation

#973 fix (#972): correct Context default behavior
  faststream/__about__.py
  faststream/utils/context/main.py
  tests/utils/context/test_main.py
  tests/utils/type_cast/test_base.py
Labels: bug

#977 docs: use mkdocs footer
  docs/mkdocs.yml
  docs/overrides/home.html
Labels: documentation

#981 feat: show reload directories with --reload flag
  faststream/cli/main.py
  faststream/cli/supervisors/watchfiles.py
Labels: enhancement

#982 chore: update mike workflow to use config
  .github/workflows/deploy-docs.yaml
Labels: documentation
