Repository ag2ai/faststream, pull requests merged in 2023-04, with the labels that each got.

#211 Docusaurus instead of mkdocs
  .github/workflows/deploy.yaml
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/src/components/HomepageCommunity/index.js
  docusaurus/src/components/HomepageCommunity/styles.module.css
  docusaurus/src/css/custom.css
  docusaurus/src/pages/demo/index.js
  docusaurus/src/pages/demo/styles.module.css
  docusaurus/src/pages/index.js
Labels: documentation, enhancement

#220 Remove bootstrap servers from constructor
  fastkafka/_application/app.py
  fastkafka/_components/meta.py
  fastkafka/_testing/in_memory_broker.py
  nbs/001_InMemoryBroker.ipynb
  nbs/015_FastKafka.ipynb
  nbs/017_Benchmarking.ipynb
  nbs/096_Meta.ipynb
Labels: bug

#229 Add monochrome icons and github stars in documentation
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
Labels: documentation

#227 Fix link to symbols in docusaurus docs
  fastkafka/_docusaurus_helper.py
  nbs/096_Docusaurus_Helper.ipynb
Labels: bug

#232 Remove unwanted css and contact section from footer
  docusaurus/docusaurus.config.js
  docusaurus/src/css/custom.css
Labels: documentation

#233 Generate TOC for API docs
  docusaurus/src/css/custom.css
  fastkafka/_docusaurus_helper.py
  nbs/096_Docusaurus_Helper.ipynb
Labels: documentation

#246 Export encoders, decoders from fastkafka.encoder
  fastkafka/__init__.py
  fastkafka/_application/tester.py
  fastkafka/_components/encoder/avro.py
  fastkafka/_components/encoder/json.py
  fastkafka/_components/helpers.py
  fastkafka/_components/logger.py
  fastkafka/_components/producer_decorator.py
  fastkafka/_docusaurus_helper.py
  fastkafka/_modidx.py
  fastkafka/_testing/apache_kafka_broker.py
  fastkafka/_testing/local_redpanda_broker.py
  fastkafka/encoder.py
  fastkafka/testing.py
  nbs/000_Testing_export.ipynb
  nbs/002_ApacheKafkaBroker.ipynb
  nbs/003_LocalRedpandaBroker.ipynb
  nbs/010_Application_export.ipynb
  nbs/011_ConsumerLoop.ipynb
  nbs/013_ProducerDecorator.ipynb
  nbs/015_FastKafka.ipynb
  nbs/016_Tester.ipynb
  nbs/018_Avro_Encode_Decoder.ipynb
  nbs/019_Json_Encode_Decoder.ipynb
  nbs/020_Encoder_Export.ipynb
  nbs/096_Docusaurus_Helper.ipynb
  nbs/998_Internal_Helpers.ipynb
  nbs/Logger.ipynb
  nbs/guides/Guide_00_FastKafka_Demo.ipynb
  nbs/guides/Guide_07_Encoding_and_Decoding_Messages_with_FastKafka.ipynb
  nbs/guides/Guide_31_Using_redpanda_to_test_fastkafka.ipynb
  nbs/index.ipynb
Labels: enhancement

#265 Add action file to auto index the docs for fastkafka chat application
  .github/workflows/index-docs-for-fastkafka-chat.yaml
Labels: documentation
