Repository ag2ai/faststream, pull requests merged in 2023-12, with the labels that each got.

#1005 docs: polish Redis pages
  .secrets.baseline
  docs/docs/en/redis/index.md
  docs/docs/en/redis/list/batch.md
  docs/docs/en/redis/list/index.md
  docs/docs/en/redis/list/publishing.md
  docs/docs/en/redis/list/subscription.md
  docs/docs/en/redis/message.md
  docs/docs/en/redis/pubsub/index.md
  docs/docs/en/redis/pubsub/publishing.md
  docs/docs/en/redis/pubsub/subscription.md
  docs/docs/en/redis/rpc.md
  docs/docs/en/redis/streams/ack.md
  docs/docs/en/redis/streams/batch.md
  docs/docs/en/redis/streams/groups.md
  docs/docs/en/redis/streams/index.md
  docs/docs/en/redis/streams/publishing.md
  docs/docs/en/redis/streams/subscription.md
  docs/docs/en/release.md
  docs/docs_src/redis/list/__init__.py
  docs/docs_src/redis/list/list_pub.py
  docs/docs_src/redis/list/list_sub.py
  docs/docs_src/redis/list/sub_batch.py
  docs/docs_src/redis/list_sub_batch/__init__.py
  docs/docs_src/redis/pub_sub/__init__.py
  docs/docs_src/redis/pub_sub/channel_sub.py
  docs/docs_src/redis/pub_sub/channel_sub_pattern.py
  docs/docs_src/redis/pub_sub/pattern_data.py
  docs/docs_src/redis/pub_sub/publisher_decorator.py
  docs/docs_src/redis/pub_sub/publisher_object.py
  docs/docs_src/redis/pub_sub/raw_publish.py
  docs/docs_src/redis/publish/__init__.py
  docs/docs_src/redis/stream/__init__.py
  docs/docs_src/redis/stream/ack_errors.py
  docs/docs_src/redis/stream/batch_sub.py
  docs/docs_src/redis/stream/group.py
  docs/docs_src/redis/stream/pub.py
  docs/docs_src/redis/stream/sub.py
  docs/docs_src/redis/stream_group/__init__.py
  docs/docs_src/redis/stream_pub/__init__.py
  docs/docs_src/redis/stream_sub/__init__.py
  docs/docs_src/redis/stream_sub_batch/__init__.py
  docs/docs_src/redis/subscribe/__init__.py
Labels: documentation

#1009 docs: bump docs to the new taskiq-faststream version
  docs/docs/en/scheduling.md
  docs/includes/scheduling/taskiq_broker.md
Labels: documentation

#988 Implement validate and no_ack subscriber options (#926)
  docs/docs/en/getting-started/dependencies/index.md
  docs/docs/en/kafka/ack.md
  docs/docs/en/nats/jetstream/ack.md
  docs/docs/en/rabbit/ack.md
  docs/docs/en/redis/streams/ack.md
  docs/includes/en/no_ack.md
  faststream/broker/core/abc.py
  faststream/broker/core/asyncronous.py
  faststream/broker/push_back_watcher.py
  faststream/kafka/broker.py
  faststream/kafka/broker.pyi
  faststream/kafka/fastapi.pyi
  faststream/kafka/router.pyi
  faststream/nats/broker.py
  faststream/nats/broker.pyi
  faststream/nats/fastapi.pyi
  faststream/nats/router.pyi
  faststream/rabbit/broker.py
  faststream/rabbit/broker.pyi
  faststream/rabbit/fastapi.pyi
  faststream/rabbit/router.pyi
  faststream/redis/broker.py
  faststream/redis/broker.pyi
  faststream/redis/fastapi.pyi
  faststream/redis/router.pyi
  tests/brokers/base/consume.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/rabbit/test_consume.py
  tests/brokers/test_pushback.py
Labels: enhancement

#1023 List of Messages NATS PullSub
  docs/docs/en/nats/jetstream/pull.md
  faststream/__about__.py
  faststream/broker/parsers.py
  faststream/nats/handler.py
  faststream/nats/message.py
  faststream/nats/parser.py
  faststream/nats/pull_sub.py
  tests/brokers/nats/test_consume.py
Labels: enhancement

#1041 docs: add multiple FastAPI routers section
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/kafka/multiple.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/multiple.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/multiple.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/multiple.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/includes/getting_started/integrations/fastapi/multiple.md
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
Labels: documentation

#1060 feat (#974): add FastAPI Context
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/context/Context.md
  docs/docs/en/api/faststream/kafka/fastapi/Context.md
  docs/docs/en/api/faststream/nats/fastapi/Context.md
  docs/docs/en/api/faststream/rabbit/fastapi/Context.md
  docs/docs/en/api/faststream/redis/fastapi/Context.md
  docs/docs/en/api/index.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs/navigation_template.txt
  docs/docs_src/integrations/fastapi/kafka/base.py
  docs/docs_src/integrations/fastapi/nats/base.py
  docs/docs_src/integrations/fastapi/rabbit/base.py
  docs/docs_src/integrations/fastapi/redis/base.py
  docs/includes/getting_started/integrations/fastapi/1.md
  faststream/__about__.py
  faststream/broker/fastapi/context.py
  faststream/broker/publisher.py
  faststream/kafka/fastapi.py
  faststream/nats/fastapi.py
  faststream/rabbit/fastapi.py
  faststream/redis/fastapi.py
  faststream/utils/context/main.py
  faststream/utils/context/types.py
  pyproject.toml
  tests/brokers/base/fastapi.py
  tests/brokers/redis/test_consume.py
Labels: enhancement

#1063 docs: remove pragma comments
  .secrets.baseline
  CITATION.cff
  docs/docs/en/kafka/security.md
  docs/docs/en/rabbit/security.md
  docs/docs/en/redis/security.md
  docs/docs/en/release.md
  docs/includes/getting_started/cli/env.md
  docs/includes/getting_started/context/custom_global_2.md
  docs/includes/getting_started/lifespan/1.md
  docs/update_releases.py
  examples/fastapi_integration/app.py
Labels: documentation

#1064 docs: update README
  README.md
  docs/docs/en/faststream.md
Labels: documentation

#1083 fix (#1082): correct NatsTestClient stream publisher
  .github/workflows/test.yaml
  faststream/__about__.py
  faststream/nats/test.py
  pyproject.toml
  tests/brokers/nats/test_publish.py
  tests/cli/test_app.py
Labels: bug

#1088 fix (#1087): add app_dir option to docs serve/gen commands
  faststream/asyncapi/generate.py
  faststream/broker/handler.py
  faststream/cli/docs/app.py
  faststream/cli/supervisors/multiprocess.py
  faststream/cli/utils/imports.py
  faststream/kafka/publisher.py
  faststream/redis/broker.py
  faststream/redis/message.py
  faststream/redis/producer.py
  pyproject.toml
  tests/cli/utils/test_imports.py
Labels: bug

#1089 docs: add Context initial section
  docs/docs/en/getting-started/context/extra.md
  docs/docs/en/getting-started/subscription/annotation.md
  docs/docs_src/getting_started/context/kafka/initial.py
  docs/docs_src/getting_started/context/nats/initial.py
  docs/docs_src/getting_started/context/rabbit/initial.py
  docs/docs_src/getting_started/context/redis/initial.py
  docs/includes/getting_started/context/initial.md
  faststream/__about__.py
  faststream/broker/core/asyncronous.py
  faststream/broker/handler.py
  faststream/kafka/broker.py
  faststream/log/formatter.py
  faststream/nats/broker.py
  faststream/nats/broker.pyi
  faststream/nats/parser.py
  faststream/redis/broker.py
  faststream/redis/broker.pyi
  faststream/redis/publisher.py
  pyproject.toml
  scripts/lint.sh
  tests/asyncapi/base/arguments.py
  tests/asyncapi/rabbit/test_connection.py
  tests/asyncapi/rabbit/test_naming.py
  tests/asyncapi/rabbit/test_router.py
  tests/asyncapi/rabbit/test_security.py
  tests/cli/test_app.py
  tests/cli/test_asyncapi_docs.py
  tests/docs/getting_started/context/test_initial.py
  tests/docs/getting_started/publishing/test_decorator.py
  tests/docs/getting_started/routers/test_delay.py
  tests/docs/rabbit/test_security.py
  tests/marks.py
Labels: documentation

#1102 fix (#1100): FastAPI 0.106 compatibility
  docs/docs/en/nats/examples/direct.md
  docs/docs/en/nats/examples/pattern.md
  docs/includes/en/nats/scaling.md
  faststream/__about__.py
  faststream/_compat.py
  faststream/broker/fastapi/route.py
  faststream/broker/handler.py
  faststream/nats/broker.py
  faststream/nats/broker.pyi
  faststream/nats/handler.py
  faststream/utils/context/repository.py
  faststream/utils/functions.py
  pyproject.toml
  tests/asyncapi/base/naming.py
Labels: bug, enhancement
