Repository ag2ai/faststream, pull requests merged in 2024-09, with the labels that each got.

#1751 In case if core-subscriber receive a JetStream message.
  faststream/nats/parser.py
  faststream/nats/publisher/producer.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/nats/test_consume.py
Labels: enhancement, NATS

#1754 feat: explicit final message commit status
  .github/workflows/pr_tests.yaml
  faststream/broker/message.py
Labels: enhancement

#1752 Fix/context get local default
  faststream/broker/middlewares/logging.py
  faststream/log/logging.py
  faststream/nats/broker/registrator.py
  faststream/redis/broker/registrator.py
  faststream/utils/context/repository.py
  pyproject.toml
  tests/utils/context/test_main.py
Labels: bug

#1762 fix (#1759): correct ConfluentConfig with enums
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/config/ConfluentFastConfig.md
  docs/docs/en/nats/rpc.md
  docs/docs/en/rabbit/rpc.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/config.py
  tests/brokers/confluent/test_connect.py
Labels: bug, documentation

#1763 fix: FastAPI 0.112.3 compatibility
  faststream/__about__.py
  faststream/_compat.py
  faststream/broker/fastapi/_compat.py
  faststream/broker/fastapi/route.py
  pyproject.toml
Labels: bug

#1766 fix: FastAPI 0.112.4+ compatibility
  faststream/__about__.py
  faststream/broker/fastapi/_compat.py
  pyproject.toml
Labels: bug

#1768 feat: AsgiFastStream hooks init options
  .secrets.baseline
  faststream/app.py
  faststream/asgi/app.py
Labels: enhancement

#1749 fix (#1748): add Kafka publish no_confirm option
  .github/workflows/pr_tests.yaml
  .secrets.baseline
  docs/mkdocs.yml
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/schemas/partition.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/testing.py
  pyproject.toml
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/conftest.py
Labels: bug, Confluent, AioKafka

#1726 Add broker.subscriber.get_one()
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/utils/process_msg.md
  faststream/broker/middlewares/exception.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/asyncapi.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/redis/test_consume.py
Labels: enhancement, Core

#1692 Add OTel baggage support
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/opentelemetry/Baggage.md
  docs/docs/en/api/faststream/opentelemetry/baggage/Baggage.md
  docs/docs/en/getting-started/opentelemetry/index.md
  faststream/opentelemetry/__init__.py
  faststream/opentelemetry/annotations.py
  faststream/opentelemetry/baggage.py
  faststream/opentelemetry/middleware.py
  tests/opentelemetry/basic.py
  tests/opentelemetry/confluent/test_confluent.py
  tests/opentelemetry/kafka/test_kafka.py
  tests/opentelemetry/redis/test_redis.py
Labels: enhancement

#1785 feat: add explicit CLI import error
  faststream/__main__.py
Labels: enhancement

#1786 fix (#1780): replace / in generated json refs
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Labels: bug

#1789 Fix: this commit resolve #1765
  faststream/utils/path.py
  tests/brokers/nats/test_router.py
Labels: bug

#1795 fix (#1792): make RMQ publisher.publish reply_to optional
  faststream/rabbit/publisher/usecase.py
Labels: bug, RabbitMQ

#1796 fix (#1793): FastStream Response support in FastAPI integration
  faststream/broker/fastapi/route.py
  faststream/nats/response.py
  faststream/nats/testing.py
  tests/brokers/base/fastapi.py
Labels: bug

#1803 Update exception.md
  docs/docs/en/getting-started/middlewares/exception.md
Labels: documentation

#1813 Load list of contributors from yaml file and skip lightbox
  docs/data/people.yml
  docs/docs/en/faststream-people.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asyncapi/custom.md
  docs/docs/en/getting-started/asyncapi/hosting.md
  docs/docs/en/getting-started/opentelemetry/index.md
  docs/mkdocs.yml
Labels: documentation

#1809 fix: correct dependency injection of custom context fields implementing partial __eq__/__ne__
  faststream/types.py
  faststream/utils/context/types.py
  tests/utils/context/test_main.py
Labels: bug

#1811 do not assume discriminator is not a property
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/publisher.py
Labels: bug
