Repository ag2ai/faststream, pull requests merged in 2024-06, with the labels that each got.

#1485 feat: provide with an ability to create default RMQ Exchange
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/helpers/declarer/RabbitDeclarer.md
  faststream/rabbit/broker/broker.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/schemas/exchange.py
  faststream/rabbit/subscriber/asyncapi.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/rabbit/testing.py
  faststream/rabbit/utils.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/docs/rabbit/test_declare.py
Labels: enhancement, RabbitMQ

#1509 fix: include NatsRouter streams to original broker
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_codeql.yml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/kafka/message/KafkaAckableMessage.md
  docs/docs/en/api/faststream/kafka/parser/AioKafkaBatchParser.md
  faststream/__about__.py
  faststream/confluent/opentelemetry/provider.py
  faststream/kafka/annotations.py
  faststream/kafka/message.py
  faststream/kafka/opentelemetry/provider.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/opentelemetry/provider.py
  faststream/nats/parser.py
  faststream/rabbit/opentelemetry/provider.py
  faststream/rabbit/parser.py
  faststream/redis/parser.py
  faststream/utils/context/types.py
  pyproject.toml
  tests/brokers/nats/test_router.py
Labels: bug, NATS

#1516 docs: update filters example
  .github/workflows/publish_coverage.yml
  docs/docs_src/getting_started/subscription/confluent/filter.py
  docs/docs_src/getting_started/subscription/kafka/filter.py
  docs/docs_src/getting_started/subscription/nats/filter.py
  docs/docs_src/getting_started/subscription/rabbit/filter.py
  docs/docs_src/getting_started/subscription/redis/filter.py
  docs/includes/getting_started/subscription/filtering/1.md
  pyproject.toml
Labels: documentation

#1519 feat: nats filter JS subscription support
  faststream/nats/broker/registrator.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  tests/brokers/nats/test_consume.py
  tests/brokers/nats/test_test_client.py
Labels: enhancement, NATS

#1520 chore: downgrade upload-artifact action
  .github/workflows/publish_coverage.yml
Labels: bug

#1521 fix: correct RabbitExchange processing by OTEL in broker.publish case
  faststream/rabbit/opentelemetry/provider.py
Labels: bug, RabbitMQ

#1523 fix: correct Nats ObjectStorage get file behavior inside watch subscriber
  faststream/nats/subscriber/usecase.py
  tests/docs/nats/js/test_object.py
  tests/opentelemetry/nats/test_nats.py
Labels: bug, NATS

#1541 fix (#1539): correct anyio.create_memory_object_stream annotation
  faststream/rabbit/publisher/producer.py
Labels: bug, RabbitMQ

#1543 Add NatsBroker.new_inbox()
  docs/docs/en/getting-started/contributing/CONTRIBUTING.md
  faststream/nats/broker/broker.py
  tests/brokers/nats/test_new_inbox.py
  tests/brokers/nats/test_test_client.py
  tests/tools.py
Labels: enhancement, NATS

#1546 fix (#1544): correct Redis message nack & reject signature
  CONTRIBUTING.md
  faststream/redis/message.py
  pyproject.toml
Labels: bug, Redis
