Repository ag2ai/faststream, pull requests merged in 2024-03, with the labels that each got.

#1288 fix (#1263): correct nested descriminator msg type AsyncAPI schema
  faststream/asyncapi/generate.py
  tests/asyncapi/base/arguments.py
Labels: bug

#1291 docs: add apply_types warning notice to subscription/index.md
  docs/docs/en/getting-started/subscription/index.md
Labels: documentation

#1151 1129 - Create a publish command for the CLI
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/cli/main/publish.md
  docs/docs/en/api/faststream/cli/main/publish_message.md
  faststream/cli/main.py
  tests/cli/test_publish.py
Labels: enhancement

#1323 chore: update dependencies
  .github/workflows/publish_coverage.yml
  pyproject.toml
Labels: dependencies

#1324 docs: fix misc
  docs/docs/en/getting-started/logging.md
  docs/docs/en/getting-started/subscription/annotation.md
Labels: documentation

#1328 docs (#1327): correct RMQ exhcanges behavior
  docs/docs/en/rabbit/examples/fanout.md
  docs/docs/en/rabbit/examples/headers.md
  docs/docs/en/rabbit/examples/topic.md
  docs/docs_src/rabbit/subscription/fanout.py
Labels: documentation
