Repository ag2ai/faststream, pull requests merged in 2024-05, with the labels that each got.

#1419 fix (#1415): raise SetupError if rpc and reply_to are using in TestCL…
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Labels: bug

#1418 Chore/update deps2
  faststream/broker/wrapper/call.py
  pyproject.toml
Labels: dependencies

#1417 refactor: correct security with kwarg params merging
  faststream/confluent/broker/broker.py
  faststream/kafka/broker/broker.py
Labels: bug

#1420 fix (#1414): correct Messag.ack error processing
  faststream/__about__.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/utils.py
Labels: bug

#1429 Chore/update deps
  pyproject.toml
Labels: dependencies

#1433 Fix/correct dynamic subscriber registration
  .codespell-whitelist.txt
  faststream/asyncapi/site.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/logging.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/usecase.py
  faststream/confluent/testing.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/logging.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/subscriber/asyncapi.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/redis/testing.py
  tests/brokers/base/consume.py
  tests/cli/supervisors/test_base_reloader.py
Labels: bug

#1448 feat: add RMQ channels options, support for prefix for routing_key, a…
  faststream/__about__.py
  faststream/broker/core/abc.py
  faststream/broker/message.py
  faststream/broker/publisher/proto.py
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/confluent/parser.py
  faststream/kafka/parser.py
  faststream/nats/broker/broker.py
  faststream/nats/parser.py
  faststream/rabbit/__init__.py
  faststream/rabbit/annotations.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/schemas/queue.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/parser.py
  faststream/types.py
  pyproject.toml
  tests/asyncapi/rabbit/test_router.py
  tests/brokers/base/middlewares.py
  tests/brokers/base/publish.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/rabbit/test_router.py
  tests/brokers/redis/test_consume.py
  tests/brokers/redis/test_fastapi.py
Labels: bug, enhancement

#1452 fix: serialize TestClient rpc output to mock the real message
  faststream/broker/core/usecase.py
  faststream/testing/broker.py
Labels: bug

#1461 feat: add subscriber no-reply option
  faststream/broker/publisher/usecase.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/nats/testing.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_publish.py
Labels: enhancement, Core

#1464 Pass logger to confluent producer and consumer
  .codespell-whitelist.txt
  .secrets.baseline
  docs/docs/en/nats/jetstream/key-value.md
  docs/docs/en/nats/jetstream/object.md
  docs/docs/en/release.md
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  tests/brokers/confluent/test_logger.py
Labels: bug, enhancement, Confluent

#1481 feat (#1431): add Response class
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/Response.md
  docs/docs/en/api/faststream/broker/response/Response.md
  docs/docs/en/api/faststream/confluent/KafkaResponse.md
  docs/docs/en/api/faststream/confluent/response/KafkaResponse.md
  docs/docs/en/api/faststream/kafka/KafkaResponse.md
  docs/docs/en/api/faststream/kafka/response/KafkaResponse.md
  docs/docs/en/api/faststream/nats/NatsResponse.md
  docs/docs/en/api/faststream/nats/response/NatsResponse.md
  docs/docs/en/api/faststream/rabbit/RabbitResponse.md
  docs/docs/en/api/faststream/rabbit/response/RabbitResponse.md
  docs/docs/en/api/faststream/redis/RedisResponse.md
  docs/docs/en/api/faststream/redis/response/RedisResponse.md
  faststream/__about__.py
  faststream/__init__.py
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/__init__.py
  faststream/confluent/response.py
  faststream/kafka/__init__.py
  faststream/kafka/response.py
  faststream/nats/__init__.py
  faststream/nats/response.py
  faststream/rabbit/__init__.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/response.py
  faststream/rabbit/testing.py
  faststream/redis/__init__.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  tests/brokers/base/publish.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/test_response.py
Labels: enhancement, Core
