Repository ag2ai/faststream, pull requests merged in 2024-11, with the labels that each got.

#1903 Introducing FastStream Guru on Gurubase.io
  README.md
Labels: documentation

#1918 fix: correct working with dependencies versions
  faststream/_compat.py
  faststream/broker/fastapi/_compat.py
Labels: bug

#1921 fixed a bug when using one register for several middleware
  faststream/prometheus/container.py
  tests/prometheus/basic.py
Labels: bug, question

#1930 AsyncAPI 2.6.0 fix empty channels for KafkaSubscriber and ConfluentSubscriber if partitions provided
  faststream/confluent/subscriber/asyncapi.py
  faststream/kafka/subscriber/asyncapi.py
  tests/asyncapi/confluent/test_arguments.py
  tests/asyncapi/kafka/test_arguments.py
Labels: enhancement, Confluent, Kafka

#1936 fix: #1874 support workers for ASGI FastStream
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/cli/utils/parser/is_bind_arg.md
  docs/docs/en/getting-started/asgi.md
  faststream/asgi/app.py
  faststream/broker/fastapi/get_dependant.py
  faststream/cli/utils/parser.py
  faststream/rabbit/broker/broker.py
  tests/cli/utils/test_parser.py
Labels: bug

#1935 Fix middlewares order
  faststream/broker/core/abc.py
  faststream/broker/core/usecase.py
  faststream/broker/fastapi/router.py
  faststream/broker/publisher/fake.py
  faststream/broker/publisher/proto.py
  faststream/broker/publisher/usecase.py
  faststream/broker/router.py
  faststream/broker/subscriber/call_item.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/broker/utils.py
  faststream/broker/wrapper/proto.py
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/asyncapi.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/asyncapi.py
  faststream/kafka/publisher/usecase.py
  faststream/kafka/router.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/broker.py
  faststream/nats/broker/registrator.py
  faststream/nats/fastapi/fastapi.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/publisher/usecase.py
  faststream/nats/router.py
  faststream/nats/subscriber/factory.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/publisher/asyncapi.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/fastapi/fastapi.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/publisher/usecase.py
  faststream/redis/router.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Labels: bug
