Repository ag2ai/faststream, pull requests merged in 2024-08, with the labels that each got.

#1632 feat: add oauth support
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/security/SASLOAuthBearer.md
  docs/docs/en/confluent/security.md
  docs/docs_src/confluent/security/sasl_oauthbearer.py
  faststream/confluent/client.py
  faststream/confluent/security.py
  faststream/security.py
  tests/asyncapi/confluent/test_security.py
  tests/brokers/confluent/test_security.py
  tests/docs/confluent/test_security.py
Labels: enhancement, Confluent

#1654 hotfix: correct NatsResponse processing in RPC case
  docs/docs/en/release.md
  faststream/__about__.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/exceptions.py
  faststream/nats/publisher/producer.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
Labels: bug, NATS

#1659 Added additional parameters to HandlerException
  faststream/broker/acknowledgement_watcher.py
  faststream/exceptions.py
  tests/brokers/test_pushback.py
Labels: enhancement, Core

#1667 feat (#1663): support default values for Header
  faststream/types.py
  faststream/utils/context/types.py
Labels: enhancement, Core

#1666 fix (#1660): correct patch nested JStream subjects
  faststream/nats/broker/registrator.py
  tests/brokers/nats/test_router.py
Labels: bug, NATS

#1664 fix: add ConfluentRouter FastAPI missed init options
  faststream/confluent/broker/broker.py
  faststream/confluent/fastapi/fastapi.py
Labels: Confluent

#1679 fix: support all RMQ exchanges in AsyncAPI
  faststream/asyncapi/schema/bindings/amqp.py
  pyproject.toml
  tests/asyncapi/rabbit/test_arguments.py
Labels: bug, RabbitMQ

#1686 docs: add Kafka HowTo section
  docs/docs/SUMMARY.md
  docs/docs/en/howto/kafka/index.md
  docs/docs/en/howto/kafka/rpc.md
  docs/docs/navigation_template.txt
Labels: documentation, Kafka

#1604 feature/exception_middleware add exception middleware
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/ExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/BaseExceptionMiddleware.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ExceptionMiddleware.md
  docs/docs/en/getting-started/middlewares/exception.md
  docs/docs/navigation_template.txt
  faststream/__init__.py
  faststream/broker/middlewares/__init__.py
  faststream/broker/middlewares/exception.py
  faststream/broker/subscriber/usecase.py
  tests/brokers/base/middlewares.py
  tests/brokers/confluent/test_middlewares.py
  tests/brokers/kafka/test_middlewares.py
  tests/brokers/nats/test_middlewares.py
  tests/brokers/rabbit/test_middlewares.py
  tests/brokers/redis/test_middlewares.py
Labels: enhancement, Core

#1723 feat: CLI DX improvements
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/app/catch_startup_validation_error.md
  faststream/app.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/logs.py
  faststream/confluent/broker/broker.py
  faststream/confluent/fastapi/fastapi.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
Labels: enhancement

#1725 fix: use async test subscribers functions
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
Labels: bug

#1735 fix: respect ignored exceptions
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/middlewares/exception/ignore_handler.md
  faststream/broker/middlewares/exception.py
  tests/brokers/base/middlewares.py
Labels: bug

#1736 fix: update FastAPI to 0.112.2
  README.md
  docs/create_api_docs.py
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs/en/release.md
  docs/docs_src/integrations/fastapi/confluent/base.py
  docs/docs_src/integrations/fastapi/confluent/depends.py
  docs/docs_src/integrations/fastapi/confluent/multiple.py
  docs/docs_src/integrations/fastapi/confluent/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/confluent/send.py
  docs/docs_src/integrations/fastapi/confluent/startup.py
  docs/docs_src/integrations/fastapi/kafka/base.py
  docs/docs_src/integrations/fastapi/kafka/depends.py
  docs/docs_src/integrations/fastapi/kafka/multiple.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/kafka/send.py
  docs/docs_src/integrations/fastapi/kafka/startup.py
  docs/docs_src/integrations/fastapi/nats/base.py
  docs/docs_src/integrations/fastapi/nats/depends.py
  docs/docs_src/integrations/fastapi/nats/multiple.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/send.py
  docs/docs_src/integrations/fastapi/nats/startup.py
  docs/docs_src/integrations/fastapi/rabbit/base.py
  docs/docs_src/integrations/fastapi/rabbit/depends.py
  docs/docs_src/integrations/fastapi/rabbit/multiple.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/send.py
  docs/docs_src/integrations/fastapi/rabbit/startup.py
  docs/docs_src/integrations/fastapi/redis/base.py
  docs/docs_src/integrations/fastapi/redis/depends.py
  docs/docs_src/integrations/fastapi/redis/multiple.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/send.py
  docs/docs_src/integrations/fastapi/redis/startup.py
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
  faststream/app.py
  faststream/broker/fastapi/router.py
  faststream/confluent/schemas/partition.py
  pyproject.toml
  tests/a_docs/integration/fastapi/test_multiple_lifespan.py
  tests/asyncapi/base/fastapi.py
  tests/brokers/base/fastapi.py
Labels: bug

#1747 feat (#1168): allow include regular router to FastAPI integration
  docs/docs/en/api/faststream/asyncapi/schema/info/EmailStr.md
  docs/docs/en/getting-started/integrations/fastapi/index.md
  docs/docs_src/integrations/fastapi/confluent/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/confluent/router.py
  docs/docs_src/integrations/fastapi/kafka/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/kafka/router.py
  docs/docs_src/integrations/fastapi/nats/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/nats/router.py
  docs/docs_src/integrations/fastapi/rabbit/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/rabbit/router.py
  docs/docs_src/integrations/fastapi/redis/multiple_lifespan.py
  docs/docs_src/integrations/fastapi/redis/router.py
  docs/includes/getting_started/integrations/fastapi/multiple.md
  docs/includes/getting_started/integrations/fastapi/multiple_lifespan.md
  docs/includes/getting_started/integrations/fastapi/routers.md
  faststream/broker/fastapi/router.py
  tests/a_docs/integration/fastapi/test_multiple_lifespan.py
  tests/a_docs/integration/fastapi/test_routers.py
  tests/brokers/base/fastapi.py
  tests/brokers/confluent/test_fastapi.py
  tests/brokers/kafka/test_fastapi.py
  tests/brokers/nats/test_fastapi.py
  tests/brokers/rabbit/test_fastapi.py
  tests/brokers/redis/test_fastapi.py
Labels: bug, enhancement
