Repository ag2ai/faststream, pull requests merged in 2024-12, with the labels that each got.

#1952 docs: use DeliverPolicy Enum for deliver_policy in subscriber
  .secrets.baseline
  docs/docs_src/nats/js/main.py
Labels: documentation

#1960 fix #1959: propagate logger to Confluent
  faststream/__about__.py
  faststream/confluent/client.py
Labels: bug, Confluent

#1961 Concurrent confluent kafka
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/confluent/subscriber/asyncapi/AsyncAPIConcurrentDefaultSubscriber.md
  docs/docs/en/api/faststream/confluent/subscriber/usecase/ConcurrentDefaultSubscriber.md
  faststream/broker/subscriber/mixins.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/router.py
  faststream/confluent/subscriber/asyncapi.py
  faststream/confluent/subscriber/factory.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/factory.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  tests/brokers/confluent/test_consume.py
  tests/brokers/confluent/test_misconfigure.py
Labels: enhancement, Confluent

#1963 fix: Confluent, read messages under lock
  faststream/confluent/client.py
Labels: bug, Confluent

#1984 Update aio-pika external docs URL as it has been moved
  docs/docs/en/rabbit/index.md
Labels: documentation

#2002 refactor: add type annotations for RabbitQueue and enum for queue type
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/CommonQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueClassicTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueQuorumTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueStreamTypeSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QueueType.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedQueueClassicAndQuorumArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueArgs.md
  docs/docs_src/rabbit/subscription/stream.py
  faststream/rabbit/__init__.py
  faststream/rabbit/schemas/__init__.py
  faststream/rabbit/schemas/queue.py
Labels: enhancement, RabbitMQ

#2011 docs: ability to declare queue/exchange binding
  docs/docs/en/rabbit/declare.md
  docs/docs_src/rabbit/bind.py
  tests/a_docs/rabbit/test_bind.py
Labels: documentation, RabbitMQ
