Repository ag2ai/faststream, pull requests merged in 2024-07, with the labels that each got.

#1550 feat(multiprocess): restart child processes if they are not alive
  faststream/cli/supervisors/multiprocess.py
Labels: enhancement, Core

#1575 fix: use typing_extensions.TypedDict import
  .github/ISSUE_TEMPLATE/config.yaml
  .github/dependabot.yaml
  .github/workflows/docs_update-references.yaml
  .github/workflows/pr_codeql.yaml
  .github/workflows/pr_dependency-review.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/publish_coverage.yaml
  .github/workflows/release_pypi.yaml
  docs/docs/en/confluent/security.md
  docs/docs/en/kafka/security.md
  docs/docs_src/confluent/security/ssl_warning.py
  docs/docs_src/kafka/security/ssl_warning.py
  faststream/broker/acknowledgement_watcher.py
  faststream/broker/middlewares/logging.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/config.py
  faststream/confluent/security.py
  faststream/kafka/broker/broker.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/security.py
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  faststream/security.py
  faststream/testing/broker.py
  faststream/utils/no_cast.py
  pyproject.toml
  tests/brokers/base/consume.py
  tests/brokers/confluent/test_security.py
  tests/docs/getting_started/lifespan/test_ml.py
  tests/docs/getting_started/lifespan/test_ml_context.py
  tests/docs/kafka/test_security.py
Labels: bug

#1591 fix: correct single dataclass argument AsyncAPI payload generation
  faststream/asyncapi/message.py
  pyproject.toml
  tests/asyncapi/base/arguments.py
Labels: bug

#1599 fix (#1598): use config with NATS PullSub
  faststream/confluent/security.py
  faststream/kafka/security.py
  faststream/nats/subscriber/usecase.py
  pyproject.toml
Labels: bug, NATS

#1589 feat: default call_name for broker.subscriber
  faststream/asyncapi/generate.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/subscriber/asyncapi.py
  tests/asyncapi/base/naming.py
Labels: enhancement, Core

#1592 Feat: init ping method
  faststream/broker/core/usecase.py
  faststream/confluent/broker/broker.py
  faststream/confluent/client.py
  faststream/confluent/publisher/producer.py
  faststream/kafka/broker/broker.py
  faststream/kafka/publisher/producer.py
  faststream/nats/broker/broker.py
  faststream/rabbit/broker/broker.py
  faststream/redis/broker/broker.py
  tests/brokers/base/connection.py
  tests/brokers/redis/test_connect.py
Labels: enhancement, Core

#1590 fix: add pattern checking
  docs/docs/en/kafka/Subscriber/index.md
  faststream/__about__.py
  faststream/kafka/parser.py
  faststream/kafka/subscriber/usecase.py
  faststream/kafka/testing.py
  tests/brokers/kafka/test_consume.py
  tests/utils/context/test_path.py
Labels: enhancement, AioKafka

#1607 Feat: extend response api
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/response/ensure_response.md
  faststream/broker/response.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/response.py
  faststream/kafka/response.py
  faststream/nats/response.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/response.py
  faststream/rabbit/router.py
  faststream/rabbit/subscriber/factory.py
  faststream/redis/broker/broker.py
  faststream/redis/publisher/usecase.py
  faststream/redis/response.py
  tests/brokers/confluent/test_publish.py
  tests/brokers/kafka/test_publish.py
  tests/brokers/nats/test_publish.py
  tests/brokers/rabbit/test_publish.py
  tests/brokers/redis/test_publish.py
  tests/brokers/test_response.py
  tests/docs/redis/test_security.py
Labels: enhancement, Core
