Repository ag2ai/faststream, pull requests merged in 2024-10, with the labels that each got.

#1826 docs: fix ASGI page markup
  docs/docs/en/getting-started/asgi.md
Labels: documentation

#1831 docs: add link to RU TG community
  README.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/asgi.md
Labels: documentation

#1832 docs: add dynaconf NATS HowTo example
  docs/docs/SUMMARY.md
  docs/docs/en/howto/nats/dynaconf.md
  docs/docs/en/howto/nats/index.md
  docs/docs/navigation_template.txt
Labels: documentation, NATS

#1838 fix: correct CLI factory behavior
  faststream/__about__.py
  faststream/cli/docs/app.py
  faststream/cli/main.py
  faststream/cli/utils/imports.py
  tests/cli/test_publish.py
  tests/cli/test_run.py
Labels: bug

#1853 docs: Correct minimum FastAPI version for lifespan handling
  docs/docs/en/getting-started/integrations/fastapi/index.md
Labels: documentation

#1858 add aiogram example
  docs/docs/en/getting-started/integrations/frameworks/index.md
  docs/docs/en/public_api
  docs/docs_src/integrations/no_http_frameworks_integrations/__init__.py
  docs/docs_src/integrations/no_http_frameworks_integrations/aiogram.py
  docs/includes/getting_started/integrations/http/1.md
  pyproject.toml
Labels: documentation

#1866 feat: add explicit message source enum
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/message/SourceType.md
  faststream/broker/core/usecase.py
  faststream/broker/message.py
  faststream/confluent/publisher/usecase.py
  faststream/kafka/publisher/usecase.py
  faststream/nats/publisher/usecase.py
  faststream/rabbit/publisher/usecase.py
  faststream/redis/publisher/usecase.py
Labels: enhancement, Core
