Repository ag2ai/faststream, pull requests merged in 2025-05, with the labels that each got.

#2200 fix: prevent redis stream subscriber timeout when polling_interval exceeds 3000ms
  faststream/redis/subscriber/usecase.py
  tests/brokers/redis/test_consume.py
Labels: Redis

#2190 docs: add Django management command integration
  docs/docs/en/getting-started/integrations/django/index.md
Labels: documentation

#2226 Fix default rabbit timestamp
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/publisher/usecase.py
  faststream/rabbit/router.py
  faststream/rabbit/schemas/queue.py
  tests/brokers/rabbit/test_publish.py
Labels: bug, RabbitMQ

#2230 fix (#2227): use ms as generated timestamp in Kafka
  faststream/__about__.py
  faststream/confluent/testing.py
  faststream/kafka/testing.py
Labels: bug, Confluent, AioKafka
