Repository ag2ai/faststream, pull requests merged in 2025-08, with the labels that each got.

#2402 docs: updated manual run with broker examples
  docs/docs/en/getting-started/index.md
  docs/docs_src/getting_started/manual_run/__init__.py
  docs/docs_src/getting_started/manual_run/confluent_base_run.py
  docs/docs_src/getting_started/manual_run/kafka_base_run.py
  docs/docs_src/getting_started/manual_run/nats_base_run.py
  docs/docs_src/getting_started/manual_run/rabbit_base_run.py
  docs/docs_src/getting_started/manual_run/redis_base_run.py
Labels: documentation

#2403 tests: remove useless tests
  faststream/nats/broker/registrator.py
  tests/opentelemetry/nats/test_nats.py
  tests/opentelemetry/rabbit/test_rabbit.py
  tests/opentelemetry/redis/test_redis.py
  tests/prometheus/confluent/test_confluent.py
  tests/prometheus/kafka/test_kafka.py
  tests/prometheus/nats/test_nats.py
  tests/prometheus/rabbit/test_rabbit.py
  tests/prometheus/redis/test_redis.py
Labels: NATS

#2405 fix: Added missing DecodedMessage export to faststream.types
  .github/workflows/pr_tests.yaml
  faststream/types.py
  justfile
  pyproject.toml
  tests/brokers/confluent/test_test_reentrancy.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/kafka/test_test_reentrancy.py
  tests/brokers/nats/test_test_reentrancy.py
  tests/brokers/rabbit/test_test_reentrancy.py
  tests/brokers/redis/test_test_reentrancy.py
  tests/brokers/test_serializer.py
  tests/cli/test_asyncapi_docs.py
  tests/cli/test_logs.py
  tests/integrations/msgspec/test_serialization.py
  uv.lock
Labels: dependencies, github_actions

#2416 CI: use pre-commit-ci-lite instead of manual commit step during linters
  .github/workflows/pr_autoupdate.yaml
Labels: github_actions

#2427 docs: update contributing guide with pip upgrade and fix mkdocs serve…
  docs/docs/en/getting-started/contributing/docs.md
Labels: documentation

#2421 Docs: add llms.txt
  docs/docs/llms.txt
Labels: documentation

#2429 lint: Kafka overrides polish
  docs/docs/assets/img/middlewares-flow.svg
  docs/docs/en/getting-started/middlewares/index.md
  faststream/kafka/broker/registrator.py
  faststream/kafka/broker/router.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/broker/registrator.py
  tests/cli/utils/test_parser.py
  tests/docs/getting_started/subscription/test_real.py
  tests/docs/getting_started/subscription/test_testing.py
  tests/mypy/kafka.py
  tests/mypy/nats.py
  tests/mypy/rabbit.py
  tests/mypy/redis.py
Labels: documentation, AioKafka, NATS

#2430 fix: Redis pubsub connection leak in request method
  faststream/redis/publisher/producer.py
Labels: Redis

#2439 CI: make the linter great again
  .github/workflows/pr_autoupdate.yaml
  .pre-commit-config.yaml
  justfile
  tests/mypy/confluent.py
Labels: github_actions

#2442 Closes #2391 add polish for kafka and nats fastapi
  faststream/confluent/broker/broker.py
  faststream/confluent/broker/registrator.py
  faststream/confluent/broker/router.py
  faststream/confluent/fastapi/fastapi.py
  faststream/confluent/publisher/usecase.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/broker/broker.py
  faststream/kafka/broker/registrator.py
  faststream/kafka/fastapi/fastapi.py
  faststream/kafka/publisher/usecase.py
  faststream/middlewares/exception.py
  faststream/nats/broker/router.py
  faststream/nats/fastapi/fastapi.py
  faststream/rabbit/schemas/queue.py
  faststream/redis/broker/router.py
  tests/mypy/confluent.py
  tests/mypy/kafka.py
  tests/mypy/nats.py
  tests/mypy/rabbit.py
  tests/mypy/redis.py
Labels: Confluent, AioKafka, NATS, Redis

#2440 chore: bump version
  .github/workflows/pr_autoupdate.yaml
  pyproject.toml
  uv.lock
Labels: dependencies, github_actions

#2449 fix: pass stream to concurrent subscribers
  .github/workflows/pr_autoupdate.yaml
  faststream/nats/subscriber/factory.py
  pyproject.toml
  tests/asyncapi/base/v2_6_0/arguments.py
  tests/asyncapi/base/v3_0_0/arguments.py
Labels: dependencies, github_actions, NATS

#2460 docs: Joined context pages into one page
  .pre-commit-config.yaml
  docs/docs/en/confluent/ack.md
  docs/docs/en/confluent/message.md
  docs/docs/en/getting-started/context.md
  docs/docs/en/getting-started/context/custom.md
  docs/docs/en/getting-started/context/existed.md
  docs/docs/en/getting-started/context/extra.md
  docs/docs/en/getting-started/context/fields.md
  docs/docs/en/getting-started/context/index.md
  docs/docs/en/getting-started/observability/logging.md
  docs/docs/en/kafka/ack.md
  docs/docs/en/kafka/message.md
  docs/docs/en/nats/jetstream/ack.md
  docs/docs/en/nats/message.md
  docs/docs/en/rabbit/ack.md
  docs/docs/en/rabbit/message.md
  docs/docs/en/release.md
  docs/docs/navigation_template.txt
Labels: documentation, Confluent, AioKafka, NATS, Observability
