Repository ag2ai/faststream, pull requests merged in 2025-04, with the labels that each got.

#2161 docs: Added filtering technical information
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/subscription/filtering.md
Labels: documentation

#2167 docs: improve otel docs
  docs/docs/SUMMARY.md
  docs/docs/assets/img/logfire-trace.png
  docs/docs/assets/img/sentry-trace.png
  docs/docs/en/getting-started/observability/opentelemetry.md
  docs/docs/en/getting-started/observability/opentelemetry/baggage.md
  docs/docs/en/getting-started/observability/opentelemetry/index.md
  docs/docs/en/getting-started/observability/opentelemetry/sentry.md
  docs/docs/en/getting-started/observability/opentelemetry/tracing.md
  docs/docs/navigation_template.txt
Labels: documentation

#2171 feat: add RabbitMQ Channel object
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/Channel.md
  docs/docs/en/api/faststream/rabbit/helpers/ChannelManager.md
  docs/docs/en/api/faststream/rabbit/helpers/RabbitDeclarer.md
  docs/docs/en/api/faststream/rabbit/helpers/channel_manager/ChannelManager.md
  docs/docs/en/api/faststream/rabbit/schemas/Channel.md
  docs/docs/en/api/faststream/rabbit/schemas/channel/Channel.md
  faststream/__about__.py
  faststream/rabbit/__init__.py
  faststream/rabbit/broker/broker.py
  faststream/rabbit/broker/registrator.py
  faststream/rabbit/fastapi/router.py
  faststream/rabbit/helpers/__init__.py
  faststream/rabbit/helpers/channel_manager.py
  faststream/rabbit/helpers/declarer.py
  faststream/rabbit/publisher/producer.py
  faststream/rabbit/schemas/__init__.py
  faststream/rabbit/schemas/channel.py
  faststream/rabbit/subscriber/factory.py
  faststream/rabbit/subscriber/usecase.py
  tests/brokers/rabbit/specific/test_channels.py
  tests/brokers/rabbit/specific/test_declare.py
  tests/brokers/rabbit/specific/test_init.py
Labels: enhancement, RabbitMQ

#2177 docs: add information about manual AsyncAPI hosting
  docs/docs/en/getting-started/asyncapi/hosting.md
Labels: documentation

#2039 Subscriber iterator
  faststream/_internal/subscriber/proto.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecases/core_subscriber.py
  faststream/nats/subscriber/usecases/key_value_subscriber.py
  faststream/nats/subscriber/usecases/object_storage_subscriber.py
  faststream/nats/subscriber/usecases/stream_basic.py
  faststream/nats/subscriber/usecases/stream_pull_subscriber.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecases/channel_subscriber.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  faststream/redis/subscriber/usecases/stream_subscriber.py
  tests/brokers/base/consume.py
  tests/brokers/nats/test_consume.py
  tests/brokers/redis/test_consume.py
Labels: enhancement

#2187 docs: update Django integration guide and add FastStream ORM access e…
  docs/docs/en/getting-started/integrations/django/index.md
Labels: documentation
