Repository ag2ai/faststream, pull requests merged in 2025-07, with the labels that each got.

#2330 feat: add CODEOWNERS
  .github/CODEOWNERS
  .github/workflows/gh_pages_deploy_manual.yaml
Labels: github_actions

#2328 introduce stop method on broker and subscriber and deprecate close
  CONTRIBUTING.md
  README.md
  docs/docs/en/getting-started/integrations/django/index.md
  docs/docs_src/integrations/http_frameworks_integrations/aiohttp.py
  docs/docs_src/integrations/http_frameworks_integrations/blacksheep.py
  docs/docs_src/integrations/http_frameworks_integrations/falcon.py
  docs/docs_src/integrations/http_frameworks_integrations/fastapi.py
  docs/docs_src/integrations/http_frameworks_integrations/litestar.py
  docs/docs_src/integrations/http_frameworks_integrations/quart.py
  docs/docs_src/integrations/http_frameworks_integrations/sanic.py
  docs/docs_src/integrations/http_frameworks_integrations/tornado.py
  faststream/_internal/application.py
  faststream/broker/core/usecase.py
  faststream/broker/fastapi/router.py
  faststream/broker/subscriber/mixins.py
  faststream/broker/subscriber/proto.py
  faststream/broker/subscriber/usecase.py
  faststream/confluent/subscriber/usecase.py
  faststream/kafka/subscriber/usecase.py
  faststream/nats/subscriber/usecase.py
  faststream/rabbit/subscriber/usecase.py
  faststream/redis/subscriber/usecase.py
  faststream/testing/broker.py
  tests/brokers/base/connection.py
  tests/brokers/base/consume.py
  tests/brokers/base/testclient.py
  tests/brokers/kafka/test_consume.py
  tests/brokers/rabbit/test_connect.py
  tests/brokers/redis/test_connect.py
  tests/brokers/redis/test_fastapi.py
  tests/cli/rabbit/test_app.py
Labels: Core

#2337 Update Release Notes for main
  .secrets.baseline
  docs/docs/en/release.md
Labels: documentation

#2343 Change docs
  CITATION.cff
  README.md
  docs/README.md
  docs/docs/en/faststream.md
  docs/docs/en/getting-started/integrations/django/index.md
  docs/docs/javascripts/gurubase-widget.js
  docs/mkdocs.yml
  docs/templates/redirect.html
  faststream/rabbit/schemas/exchange.py
  pyproject.toml
Labels: documentation, dependencies

#2338 ci: fix jobs
  .github/workflows/check-md-code-blocks.yaml
  .github/workflows/docs_deploy.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_autoupdate.yaml
  .github/workflows/pr_tests.yaml
  .github/workflows/release_pypi.yaml
  .pre-commit-config.yaml
  docs/update_releases.py
  faststream/__about__.py
Labels: github_actions, Observability

#2346 Update Release Notes for 0.5.45
  docs/docs/en/release.md
Labels: documentation

#2349 fix overlapping patterns
  faststream/__about__.py
  faststream/nats/broker/broker.py
  faststream/nats/subscriber/asyncapi.py
  tests/brokers/nats/test_overlaping_subjects.py
Labels: NATS

#2354 fix: correct NATS pattern AsyncAPI render
  faststream/__about__.py
  faststream/nats/publisher/asyncapi.py
  faststream/nats/publisher/usecase.py
Labels: NATS

#2360 chore: Force push gh-pages
  .github/workflows/docs_deploy.yaml
Labels: github_actions

#2369 Just tests
  justfile
Labels: github_actions

#2373 fix: Change f-string in logs
  faststream/kafka/helpers/rebalance_listener.py
Labels: AioKafka

#2287 feat: (#2061) Redis Binary Format
  .secrets.baseline
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/redis/BinaryMessageFormatV1.md
  docs/docs/en/api/faststream/redis/JSONMessageFormat.md
  docs/docs/en/api/faststream/redis/parser/BinaryMessageFormatV1.md
  docs/docs/en/api/faststream/redis/parser/BinaryReader.md
  docs/docs/en/api/faststream/redis/parser/BinaryWriter.md
  docs/docs/en/api/faststream/redis/parser/FastStreamMessageVersion.md
  docs/docs/en/api/faststream/redis/parser/JSONMessageFormat.md
  docs/docs/en/api/faststream/redis/parser/MessageFormat.md
  docs/docs/en/redis/message_format.md
  docs/docs/navigation_template.txt
  faststream/__about__.py
  faststream/redis/__init__.py
  faststream/redis/broker/broker.py
  faststream/redis/broker/registrator.py
  faststream/redis/parser.py
  faststream/redis/publisher/asyncapi.py
  faststream/redis/publisher/producer.py
  faststream/redis/publisher/usecase.py
  faststream/redis/subscriber/factory.py
  faststream/redis/subscriber/usecase.py
  faststream/redis/testing.py
  tests/brokers/redis/test_parser.py
  tests/brokers/redis/test_requests.py
Labels: documentation, Redis

#2374 Update Release Notes for 0.5.48
  .secrets.baseline
  docs/docs/en/release.md
Labels: documentation

#2381 ConfuentConfig delivery.timeout.ms option added
  faststream/confluent/config.py
Labels: Confluent

#2384 chore: create notification for new issue
  .github/workflows/new-issue.yaml
Labels: github_actions

#2345 docs: middlewares 0.6 changes
  docs/docs/en/getting-started/middlewares/index.md
  docs/docs/en/getting-started/middlewares/middlewares-flow.svg
Labels: documentation, dependencies, Confluent, AioKafka, NATS, Redis

#2386 types: add Redis type tests
  tests/mypy/kafka.py
  tests/mypy/nats.py
  tests/mypy/rabbit.py
  tests/mypy/redis.py
Labels: github_actions, Confluent, NATS, Observability

#2388 types: add Rabbit type tests
  docs/docs/en/getting-started/context/index.md
  docs/docs/en/getting-started/subscription/annotation.md
  justfile
  tests/mypy/rabbit.py
Labels: documentation, github_actions
