Repository ag2ai/faststream, pull requests merged in 2025-03, with the labels that each got.

#2096 fix: resolve forward refs in FastAPI integration
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/is_faststream_decorated.md
  docs/docs/en/api/faststream/broker/fastapi/get_dependant/mark_faststream_decorated.md
  faststream/broker/fastapi/get_dependant.py
  faststream/broker/fastapi/route.py
Labels: bug

#2097 Fixed nested dataclasses schema generation
  docs/__init__.py
  faststream/asyncapi/message.py
  tests/asyncapi/base/arguments.py
Labels: bug

#2111 chore (#2109): make PR reference
  docs/docs/en/getting-started/cli/index.md
  docs/includes/en/watchfiles.md
  docs/includes/getting_started/cli/env.md
Labels: documentation

#2103 Added pros and cons to publishers page
  docs/docs/en/getting-started/publishing/broker.md
  docs/docs/en/getting-started/publishing/decorator.md
  docs/docs/en/getting-started/publishing/direct.md
  docs/docs/en/getting-started/publishing/object.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Labels: documentation

#2137 fix: correct Confluent options name mapping
  faststream/__about__.py
  faststream/confluent/schemas/params.py
  faststream/confluent/security.py
  tests/a_docs/confluent/test_security.py
Labels: bug, Confluent

#2138 fix: correct call_decorators wrapping order
  faststream/broker/subscriber/call_item.py
  faststream/broker/wrapper/call.py
Labels: bug

#2150 fix: pydantic211 compat
  faststream/asyncapi/schema/main.py
  tests/asyncapi/base/arguments.py
  tests/asyncapi/base/fastapi.py
  tests/asyncapi/kafka/test_app.py
Labels: bug

#2148 Tweak RabbitMQ queue argument lists
  docs/docs/SUMMARY.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/ClassicQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/QuorumQueueSpecificArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/SharedClassicAndQuorumQueueArgs.md
  docs/docs/en/api/faststream/rabbit/schemas/queue/StreamQueueSpecificArgs.md
  faststream/rabbit/schemas/queue.py
Labels: enhancement, RabbitMQ
