Repository ag2ai/faststream, pull requests merged in 2025-10, with the labels that each got.

#2534 chore: Added Args Doc to StreamSub
  docs/docs/en/redis/streams/groups.md
  faststream/redis/schemas/stream_sub.py
Labels: documentation, Redis

#2540 feature: add warning about idle dynamic subscribers in test clients
  docs/docs/en/getting-started/subscription/dynamic.md
Labels: documentation

#2541 docs: two phrasing corrections
  docs/docs/en/nats/jetstream/pull.md
Labels: documentation, NATS

#2544 feat: impl ArgsDto to standardize CLI commands
  .github/workflows/pr_tests.yaml
  faststream/_internal/cli/docs.py
  faststream/_internal/cli/dto.py
  faststream/_internal/cli/main.py
  faststream/_internal/cli/supervisors/asgi_multiprocess.py
  faststream/_internal/cli/supervisors/basereload.py
  faststream/_internal/cli/supervisors/multiprocess.py
  faststream/_internal/cli/supervisors/utils.py
  faststream/_internal/cli/supervisors/watchfiles.py
  justfile
  tests/cli/supervisors/test_base_reloader.py
  tests/cli/supervisors/test_multiprocess.py
  tests/cli/supervisors/test_watchfiles.py
  tests/cli/test_asyncapi_docs.py
  tests/cli/test_worker_id_extra_option.py
  uv.lock
Labels: github_actions

#2545 test: add extended test for 2513 bug
  faststream/confluent/testing.py
  faststream/kafka/testing.py
  faststream/nats/testing.py
  faststream/rabbit/testing.py
  faststream/redis/testing.py
  tests/brokers/confluent/test_test_client.py
  tests/brokers/kafka/test_test_client.py
  tests/brokers/nats/test_test_client.py
  tests/brokers/rabbit/test_test_client.py
  tests/brokers/redis/test_test_client.py
Labels: Confluent, AioKafka, NATS, Redis

#2531 [ISS-2462] fix(redis): list subscriber consume/stop race
  faststream/_internal/endpoint/subscriber/usecase.py
  faststream/redis/subscriber/usecases/list_subscriber.py
  justfile
  pyproject.toml
Labels: dependencies, Redis
