Repository ag2ai/faststream, pull requests merged in 2025-09, with the labels that each got.

#2482 Feat: switch image from bitnami to confluent
  .github/workflows/pr_tests.yaml
  docker-compose.yaml
  docs/docs/en/getting-started/index.md
  docs/includes/docker-compose.yaml
Labels: documentation, github_actions

#2457 Feature/update docs
  docs/docs/en/getting-started/lifespan/hooks.md
Labels: documentation

#2490 ci: create update release PRs to main:
  .github/workflows/docs_update-release-notes.yaml
  docs/docs/en/release.md
  uv.lock
Labels: documentation, github_actions

#2491 ci: use PAT to build docs
  .github/workflows/docs_build.yaml
  .github/workflows/docs_update-release-notes.yaml
  .github/workflows/pr_automerge.yaml
Labels: github_actions

#2492 ci: update telegram-notifier & send message to oss board
  .github/workflows/new-issue.yaml
Labels: github_actions

#2509 Fix RuntimeWarning: coroutine 'AsyncMockMixin._execute_mock_call' was…
  docs/docs/en/getting-started/lifespan/hooks.md
  docs/docs_src/getting_started/lifespan/multiple.py
  tests/cli/test_publish.py
Labels: documentation

#2522 Update Release Notes for 0.6.0rc3
  docs/docs/en/release.md
Labels: documentation
